*{
    margin:0;
    padding:0;    
}

.header .photo{
    max-height: 300px;
    max-width: 400px;
    float:left;
}

.header .nombre {
    font-style:italic;
    font-size: 50px;
    color:#10bf0d;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    margin-left: 5%;
}


@import "./node_modules/bootstrap/scss/bootstrap.scss"

